@{
    Layout = null;
}
@model DTO.Models.SetFicheDetails
<h4>Edytowanie zestawu</h4>
<br />
<p>
    @Html.ActionLink("Dodaj Fiszke", "Dodaj", "Fiszka", new { idFicheSet = Model.IdSetFiche }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fiches.First().Prompt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiches.First().Response)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Fiches)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prompt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Response)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", "Fiszka", new { id = item.Id }, null)
                @Html.ActionLink("Usuń", "Delete", null, new { @class = "RemoveFiche", id = item.Id })
            </td>
        </tr>
    }
    @Html.HiddenFor(model => model.IdSetFiche)

</table>
<script src="~/Scripts/Zestaw/Edytuj.js"></script>