@{
    Layout = null;
}
@using  DTO.Enums
@model IEnumerable<DTO.Models.SetFiche>
<h4>Przeglądanie zestawów</h4>
<br />
<p>
    <a href=@Url.Action("DodajZestaw","Zestaw") id="addSet">Dodaj zestaw</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="SetElement" id=@item.Id>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td class="">
                @Html.ActionLink("Edytuj", "Edytuj", null, new { id = item.Id, @class = "EditSet" }) 
                @Html.ActionLink("Usuń", "Delete", null, new { id = item.Id, @class = "Remover" })
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/Zestaw/ListaZestawów.js"></script>
