@model DTO.Models.GameState
@{
    Layout = null;
}
<style type="text/css">
    .CorrectResponse {
        color: green;
    }

    .WrongResponse {
        color: red;
    }

    #TimeText {
        color: red;
    }
</style>
<div class="form-group">

    <button id="AdmitAnswer" class="form-control">Sprawdź</button>

</div>

<div class="form-group" hidden="hidden" id="CorrectAnswerDiv">

    <h3 id="CorrectAnswerLabel">Poprawna odpowiedź to : </h3>
    <h3 id="CorrectAnswerText">@Model.Fiche.Response</h3>
</div>

<div class="form-group">
    <div hidden="hidden" id="UserChoseDiv">
        <button id="Know" class="form-control">Wiem</button>
        <button id="NotKnow" class="form-control">Nie wiem</button>
    </div>
</div>
@if (!Model.IsMultiPlayer)
{
    <div class="form-group">
        <a href=@Url.Action("NextFicheTeach", "Gra", new { id = Model.IdTeachSet }) id="NextFiche" hidden="hidden">Następna fiszka</a>

    </div>
}
<span id="TimeText"></span>
@Html.HiddenFor(model => model.LimitTimeSek)
@Html.HiddenFor(model => model.IsMultiPlayer)
@Html.HiddenFor(model => model.IdTeachSet)
@Html.HiddenFor(model => model.Fiche.Id)
@Html.HiddenFor(model => model.IntTypeAnswer, new { id = "TypeAnswer" })
<script src="~/Scripts/Game/Common.js"></script>
