@{
    Layout = null;
}
@model DTO.Models.Fiche


<div class="form-horizontal">
    <h4>Fiche</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.Prompt, "Pierwsza strona fiszki", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Prompt, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Response, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Response, "Druga strona fiszki", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NameTypePrompt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.TypePrompt, new { htmlAttributes = new { @class = "form-control", id = "TypePrompt" } })
        </div>
    </div>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IdPromptFile)
    @Html.HiddenFor(model => model.IdFicheSet)

    <div class="col-md-offset-2 col-md-10" id="AddFileDiv" hidden="hidden">
        <input type="file" class="btn btn-default" id="PromptFile" />
    </div>
</div>
<div class="form-horizontal" id="Responses">

    <p>
        @Html.ActionLink("Create response", "Create", null, new { id = "CreateResponse" })
    </p>
    <table class="table" id="ResponsesTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FicheResponses[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FicheResponses[0].TypePrompt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FicheResponses[0].IsCorect)
            </th>
        </tr>

        @foreach (var item in Model.FicheResponses)
        {
            @Html.Partial("ResponseRow", item)
        }
    </table>
</div>
<div id="ContainerficheResponsesEdit">
    @Html.Partial("ResponseEditor", new DTO.Models.FicheResponse())
</div>
<input type="submit" value="Save" class="btn btn-default" id="SendFiche" />
<br />
@Html.ActionLink("Powróć do zestawu", "Edytuj", "Zestaw", new { id = Model.IdFicheSet }, new { @class = "EditSet" })

<script src="~/Scripts/Fiszka/Dodaj.js"></script>
