@model DTO.Models.TeachBag
@using DTO.Enums
@{
    Layout = null;
}
<tr class="dataRow">
    <td id="PeriodTime">
        @Html.DisplayFor(modelItem => modelItem.PeriodTime)
    </td>
    <td id="TypeAnswearText">
        @Html.DisplayFor(modelItem => modelItem.TypeAnswearText)
    </td>
    <td id="IsLimitTime">
    </td>
    <td id="LimitTimeInSek">
        @Html.DisplayFor(modelItem => modelItem.LimitTimeInSek)
    </td>
    @Html.HiddenFor(modelItem => modelItem.TypeAnswear);
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new { id = "EditBag" }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { id = "RemoveBag" })
    </td>
    @Html.HiddenFor(X => X.Id)
</tr>
